.dashboard{
    position: relative;
    padding-left: 271px ;
    padding-top: 51px;
    padding-right: 40px;
}
.top-bar{
    justify-content: space-between;
}

.search-bar{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 655px; 
    height: 52px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
}
.search-icon{
    margin-right: 14px;
    margin-left: 20px;
    width: 24px;
    height: 24px;
}
.search-bar input{
    border: none;
}
.search-bar input::placeholder{
    color: #ADA7A7;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 57px;
height: 24px;
}
.info-bar{
    padding-top: 44px;
   
}
.info-bar h1{
    color: #000;
    font-family:' Poppins',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.entry-fields{
    gap: 22px;
    padding-top:24px;
    align-items: center;
    justify-content: space-between;
}
.entry-fields h3{
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.entry-fields input{
    height: 50px; 
    border-radius: 3px;
    border: 1px solid rgba(19, 19, 19, 0.25);
    background: #FFF;
    padding: 13px 66px 13px 24px;
    align-items: center;
    flex-shrink: 0;

}
.entry-fields input::placeholder{
    color: rgba(19, 19, 19, 0.60);
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.data-table{
    margin-top: 40px; 
}
.data-table .id{
    color: #0B63F8;
}
.data-table thead td{
    padding-bottom: 30px ;
    padding-top: 30px ;
}
.data-table tbody td{
    padding-bottom: 30px ;
    padding-top: 30px ;
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.65;
}
.data-table input{
    margin-left: 20px;
    width: 24px;
    height: 24px;
}
.invoice{
    gap: 24px;
}

.data-table thead td{
    color: #000;
font-family: 'Lato';
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

@media screen and (max-width: 1440px){
.entry-fields input{
width:200px;  
}
}
@media screen and (max-width: 1200px){
    .entry-fields input{
    width:150px;  
    }
    .entry-fields input::placeholder{
        font-size: 12px;
    }
    }
    @media screen and (max-width: 990px){
        .entry-fields input{
            width: 90px;   
        }
        .entry-fields input::placeholder{
         color: red;
         font-size: 10px;
        }
        }